{% extends 'backend/layouts/main.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Gardners
                <small>({{ total }})</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if gardners %}
                <table id="hardcopy-list" class="table table-hover">
                    <thead>
                    <tr>
                        <th width="40"></th>
                        <th width="75">ISBN</th>
                        <th>Kitap adı</th>
                        <th width="20" class="text-center">Durumu</th>
                    </tr>
                    <tbody>
                    {% for item in gardners %}
                        <tr>
                            <td class="text-right">{{ loop.index + offset }}</td>
                            <td>{{ item.isbn }}</td>
                            <td><a href="{{ path_for('backend.gardners.show', {'isbn': item.isbn}) }}">{{ item.title }}</a></td>
                            <td class="text-center">
                                <form action="{{ path_for('backend.gardners.status', {'isbn': item.isbn}) }}">
                                    <input type="checkbox" name="status" {{ item.status ? 'checked' }} data-toggle="toggle"
                                           data-on=" " data-onstyle="success" data-off=" " data-offstyle="danger"
                                           data-size="small" value="1" class="status-changer">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </thead>
                </table>

                {% include 'partials/_pagination.twig' %}
            {% else %}
                Kitap bulunamadı
            {% endif %}
        </div>
    </div>
{% endblock %}