{% extends 'backend/layouts/main.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>İçerikler
                <small>({{ total }})</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <a href="{{ path_for('backend.contents.create') }}" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if contents %}
                <table id="content-list" class="table table-hover">
                    <thead>
                    <tr>
                        <th width="40"></th>
                        <th>Başlık</th>
                        <th>Sayfa</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in contents %}
                        <tr>
                            <td class="text-right">{{ loop.index + offset }}</td>
                            <td><a href="{{ path_for('backend.contents.show', {'id': item.id}) }}">{{ item.title }}</a></td>
                            <td>{{ item.page }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% include 'partials/_pagination.twig' %}
            {% else %}
                Kayıt bulunamadı
            {% endif %}
        </div>
    </div>
{% endblock %}