{% extends 'backend/layouts/main.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Siparişler
                <small>({{ total }})</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if orders %}
                <table id="order-list" class="table table-hover">
                    <thead>
                    <tr>
                        <th width="30"></th>
                        <th>Sipariş No</th>
                        <th width="100" class="text-right">Tutar</th>
                        <th width="100" class="text-center">Fatura</th>
                        <th width="150">Tarih</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in orders %}
                        <tr>
                            <td class="text-right">{{ loop.index + offset }}</td>
                            <td>
                                <a href="{{ path_for('backend.orders.show', {'orderId': item.order_id}) }}">{{ item.order_id }}</a>
                            </td>
                            <td class="text-right">{{ item.total_price|number_format }} TL</td>
                            <td class="text-center">
                                <input type="checkbox" name="invoice_status" {{ item.invoice_status ? 'checked': '' }}
                                       data-toggle="toggle" data-on=" " data-onstyle="success"
                                       data-off=" " data-offstyle="danger">
                            </td>
                            <td class="text-right">{{ item.order_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% include 'partials/_pagination.twig' %}
            {% else %}
                Sipariş bulunamadı
            {% endif %}
        </div>
    </div>
{% endblock %}